
@{
    ViewBag.Title = "Categorias";
}

<h2>@ViewBag.Title</h2>

@foreach(string cat in ViewBag.ListaCategorias)
{
    //<a href="#">@cat</a>
    @Html.ActionLink(@cat,"Index","Categorias")
    //Literal
    @: |
}